body {
  margin: 0px;
  background: #FFFFFF;
  font-family: Courier, monospace;
  text-align:  center;
  }

a {
  text-decoration: none;
  color: #000000;
  }

a:visited {
  text-decoration: none;
  color: #000000;
	}

a.mainlinks {
  text-decoration: none;
  color: #000000;
  }

a.mainlinks:hover {
  text-decoration: none;
  color: #6699FF;
  }

.color-txt {
  color: #6699FF;
	}

.select-txt {
  color: #000000;
  font-weight: 600;
  }

.container-title {
  width: 100%;
  max-width: 800px;
  height: 150px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.35em;
  font-size: 11pt;
  color: #000000;
  }

.ttl
  {
  font-size: 21pt;
  line-height: 0em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  }

.container-img {
  width: 100%;
  max-width: 800px;
  height: 800px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: transparent;
  font-size: 10pt;
  text-align: center;
  color: #000000;
  }

.container-main {
  width: 100%;
  max-width: 800px;
  height: 900px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-main-intro {
  width: 100%;
  max-width: 800px;
  height: 1302px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-intro {
  width: 100%;
  max-width: 500px;
  height: 60px;
  padding: 10px 60px 10px 60px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  background: #FFFFFF;
  color: #000000;
  }

.intro-txt {
  width: 100%;
  max-width: 500px;
  height: 300px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-artworks {
  width: 100%;
  max-width: 500px;
  height: 275px;
  padding: 30px 60px 30px 60px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-reefs {
  width: 100%;
  max-width: 800px;
  height: 7767px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-reefs {
  width: 100%;
  max-width: 620px;
  height: 6457px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.reefs {
  width: 100%;
  max-width: 620px;
  height: 5617px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.reefs-txt {
  width: 100%;
  max-width: 500px;
  height: 560px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-clouds {
  width: 100%;
  max-width: 800px;
  height: 7042px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-clouds {
  width: 100%;
  max-width: 620px;
  height: 5732px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.clouds {
  width: 100%;
  max-width: 620px;
  height: 5005px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.clouds-txt {
  width: 100%;
  max-width: 500px;
  height: 630px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-overworld {
  width: 100%;
  max-width: 800px;
  height: 19087px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-overworld {
  width: 100%;
  max-width: 620px;
  height: 17777px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.overworld {
  width: 100%;
  max-width: 620px;
  height: 17120px;
  padding: 0px 0px 0px 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.overworld-txt {
  width: 100%;
  max-width: 500px;
  height: 560px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-metaland {
  width: 100%;
  max-width: 800px;
  height: 2020px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-metaland {
  width: 100%;
  max-width: 620px;
  height: 710px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.metaland {
  width: 100%;
  max-width: 620px;
  height: 447px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.metaland-txt {
  width: 100%;
  max-width: 500px;
  height: 166px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-snowflakes {
  width: 100%;
  max-width: 800px;
  height: 2193px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-snowflakes {
  width: 100%;
  max-width: 620px;
  height: 883px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.snowflakes {
  width: 100%;
  max-width: 620px;
  height: 620px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.snowflakes-txt {
  width: 100%;
  max-width: 500px;
  height: 166px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-cosmoglitch {
  width: 100%;
  max-width: 800px;
  height: 7378px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-cosmoglitch {
  width: 100%;
  max-width: 620px;
  height: 6068px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.cosmoglitch {
  width: 100%;
  max-width: 620px;
  height: 5530px;
  padding: 0px 0px 0px 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #000000;
  color: #000000;
  }

.cosmoglitch-txt {
  width: 100%;
  max-width: 500px;
  height: 226px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-overgame {
  width: 100%;
  max-width: 800px;
  height: 6887px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-overgame {
  width: 100%;
  max-width: 620px;
  height: 5577px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.overgame {
  width: 100%;
  max-width: 620px;
  height: 5290px;
  padding: 0px 0px 0px 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.overgame-txt {
  width: 100%;
  max-width: 500px;
  height: 190px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.container-main-cyborgy {
  width: 100%;
  max-width: 800px;
  height: 6170px;
  padding: 25px;
  border: 0;
  margin: 0 auto;
  background: #C9C9C9;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.container-cyborgy {
  width: 100%;
  max-width: 620px;
  height: 4860px;
  padding: 0px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  text-align: center;
  line-height: 0.55em;
  font-size: 11pt;
  color: #000000;
  }

.cyborgy {
  width: 100%;
  max-width: 620px;
  height: 4503px;
  padding: 0px 0px 0px 0px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.cyborgy-txt {
  width: 100%;
  max-width: 500px;
  height: 260px;
  padding: 30px 60px 0px 60px;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  font-size: 11pt;
  line-height: 1.2em;
  white-space: normal;
  text-align: justify;
  overflow: hidden;
  background: #FFFFFF;
  color: #000000;
  }

.links {
  width: 100%;
  max-width: 500px;
  height: 260px;
  padding: 30px 60px 30px 60px;
  border: 0;
  margin: 0 auto;
  text-align: center;
  font-family: Courier, monospace;
  line-height: 0.55em;
  background: #FFFFFF;
  color: #000000;
  }

.container-foot {
  width: 100%;
  max-width: 800px;
  height: 25px;
  padding: 25px 25px 15px;
  border: 0;
  margin: 0 auto;
  background: #FFFFFF;
  font-size: 11pt;
  text-align: center;
  font-family: Courier;
  color: black;
  }
